.Side-bar
  .User-name
    .Box
      %p.Box__left masa
      .Box__right
        = link_to "#" do
          = icon('far', 'edit',  class: "Box__right--left-icon")
        = link_to "#" do
          = icon('fas', 'cog',  class: "Box__right--right-icon")
  .Group-list
    %p.Group-list__name techcamp
    %p.Group-list__message まだメッセージがありません